@media screen and (max-width: 820px) {
  .owl-carousel {
    margin-top: 0px;
    width: 100%;
  }

  .d_flex {
    flex-direction: column;
  }
  header {
    padding: 0;
  }

  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    --transition-time: 500ms;
    position: fixed;
    width: 414px;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(20px);
    transform: translateX(-100%);
    transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
    z-index: 4;
  
    a {
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 900;
      letter-spacing: 3px;
      text-decoration: none;
      user-select: none;
      color: #fff;
    }
  
    .nav-links {
      --link-height: 60px;
      position: relative;
      width: 100%;
      flex-direction: column;
  
      li {
        @include flex-center();
        position: relative;
        width: 100%;
        height: var(--link-height);
        list-style: none;
        opacity: 0;
        transform: translateX(-50%);
        transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 0.9);
        transition-delay: calc(30ms + var(--delay));
        cursor: pointer;
        z-index: 8;
        &:hover {
          color: rgba(255, 255, 255, 0.85);
        }
        a {
          pointer-events: none;
        }
  
        ol {
          display: none;
        }
      }
      .hover-el {
        position: absolute;
        width: 100%;
        height: var(--link-height);
        top: var(--y);
        left: var(--x);
        opacity: 0;
        background: radial-gradient(
          circle at var(--mousex) var(--mousey),
          rgba(0, 0, 0, 0.15) 0%,
          rgba(0, 0, 0, 0.45) 100%
        );
        transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
        pointer-events: none;
        z-index: 5;
      }
    }
  
    .sub-menu {
      --link-height: 60px;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      ol {
        list-style: none;
        li {
          @include flex-center();
          height: var(--link-height);
          transition: all var(--transition-time) ease;
          transition-delay: calc(30ms + var(--delay));
          cursor: pointer;
          &:hover {
            background: rgba(0, 0, 0, 0.25);
          }
          &.off-menu {
            opacity: 0;
            transform: translateY(30%);
          }
          &.on-menu {
            opacity: 1;
            transform: translateY(0%);
          }
  
          a {
            font-size: 1.7rem;
            font-weight: normal;
          }
        }
      }
    }
  
    // Buttons
    
  
    .menu-btn {
      @include flex-center();
      --icon-width: 25px;
      position: absolute;
      top: 5%;
      right: -15%;
      width: calc(var(--icon-width) + 25px);
      height: calc(var(--icon-width) + 25px);
      flex-direction: column;
      transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.8, 0, 0.33, 1.25);
      cursor: pointer;
      z-index: 10;
      &.close {
        .line {
          &__1 {
            transform: rotate(45deg) translate(2px, -3px);
          }
          &__2 {
            transform: rotate(-45deg);
          }
          &__3 {
            transform: rotate(45deg) translate(-2px, 3px);
          }
        }
      }
      .line {
        width: var(--icon-width);
        background: #fff;
        height: 2px;
        margin: 3px 0;
        transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
        &__1 {
          width: var(--icon-width);
          transform-origin: left;
        }
        &__2 {
          width: var(--icon-width);
          transform-origin: center;
        }
        &__3 {
          width: var(--icon-width);
          transform-origin: right;
        }
      }
    }
  
    &.nav-open {
      transform: translateX(0%);
      .menu-btn {
        right: 10%;
      }
      .nav-links {
        li {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
    &.sub-menu-open {
      .sub-menu-btn {
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
      }
      .nav-links {
        li {
          pointer-events: none;
          opacity: 0;
          transform: translateY(-10%);
        }
        .hover-el{
          opacity: 0;
        }
      }
    }
  }
  
  
}