* {
  padding: 0%;
  margin: 0%;
}

header {
  background-color: #181818;
  padding: 24px 0;

}

.container {
  max-width: 1200px;
  margin: auto;
}

.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  font-family: 'Poppins';
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  margin-left: 20px;
}

header nav ul li:first-of-type {
  margin-right: 24px;
}

header nav ul li:first-of-type a {
  font-size: 13px;
}

header nav ul li:last-of-type a {
  background: #FFFFFF;
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  padding: 7px 14px;
  color: #000000;

}

.img_background {
  background-image: url("../img/IMAGE.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  box-sizing: border-box;
}

.img_background > div {
  padding-top: 550px;
  max-width: 580px;
  margin: auto;
  text-align: center;
}

h6 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #C0C0C0;

}

h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
  text-align: center;

  color: #FFFFFF;

}

section p {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #C0C0C0;


}